.phpcoding{width: 900px; margin: 0 auto; background: #ddd;}
.headeroption, .footeroption{background: #444; color: #fff; text-align: center; padding: 20px;}
.headeroption h2, .footeroption h2{margin: 0;}
.maincontent{min-height: 400px; padding: 20px;}
